<div>
    <h2>
        <span jhiTranslate="lbStestApp.edge.home.title">Edges</span>
        <button class="btn btn-primary float-right jh-create-entity create-edge-lbs" [routerLink]="['/', { outlets: { popup: ['edge-lbs-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="lbStestApp.edge.home.createLabel">
            Create new Edge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'lbStestApp.edge.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="edges">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="order"><span jhiTranslate="lbStestApp.edge.order">Order</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="lbStestApp.edge.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="lbStestApp.edge.updateTime">Update Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleteTime"><span jhiTranslate="lbStestApp.edge.deleteTime">Delete Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fromId"><span jhiTranslate="lbStestApp.edge.from">From</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="toId"><span jhiTranslate="lbStestApp.edge.to">To</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="webId"><span jhiTranslate="lbStestApp.edge.web">Web</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let edge of edges ;trackBy: trackId">
                <td><a [routerLink]="['../edge-lbs', edge.id ]">{{edge.id}}</a></td>
                <td>{{edge.order}}</td>
                <td>{{edge.createTime | date:'medium'}}</td>
                <td>{{edge.updateTime | date:'medium'}}</td>
                <td>{{edge.deleteTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="edge.fromId">
                        <a [routerLink]="['../node-lbs', edge.fromId  ]" >{{edge.fromId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="edge.toId">
                        <a [routerLink]="['../node-lbs', edge.toId  ]" >{{edge.toId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="edge.webId">
                        <a [routerLink]="['../web-lbs', edge.webId  ]" >{{edge.webId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../edge-lbs', edge.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'edge-lbs/'+ edge.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'edge-lbs/'+ edge.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="edges && edges.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
