<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServiceConfigLabel" jhiTranslate="lbStestApp.serviceConfig.home.createOrEditLabel">Create or edit a Service Config</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!serviceConfig.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="serviceConfig.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.serviceConfig.key" for="field_key">Key</label>
            <input type="text" class="form-control" name="key" id="field_key"
                [(ngModel)]="serviceConfig.key"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.serviceConfig.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                [(ngModel)]="serviceConfig.value"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.serviceConfig.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="serviceConfig.createTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.serviceConfig.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="serviceConfig.updateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.serviceConfig.deleteTime" for="field_deleteTime">Delete Time</label>
            <div class="d-flex">
                <input id="field_deleteTime" type="datetime-local" class="form-control" name="deleteTime" [(ngModel)]="serviceConfig.deleteTime"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
