<div>
    <h2>
        <span jhiTranslate="lbStestApp.serviceConfig.home.title">Service Configs</span>
        <button class="btn btn-primary float-right jh-create-entity create-service-config-lbs" [routerLink]="['/', { outlets: { popup: ['service-config-lbs-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="lbStestApp.serviceConfig.home.createLabel">
            Create new Service Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'lbStestApp.serviceConfig.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="serviceConfigs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="key"><span jhiTranslate="lbStestApp.serviceConfig.key">Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="value"><span jhiTranslate="lbStestApp.serviceConfig.value">Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="lbStestApp.serviceConfig.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="lbStestApp.serviceConfig.updateTime">Update Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleteTime"><span jhiTranslate="lbStestApp.serviceConfig.deleteTime">Delete Time</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceConfig of serviceConfigs ;trackBy: trackId">
                <td><a [routerLink]="['../service-config-lbs', serviceConfig.id ]">{{serviceConfig.id}}</a></td>
                <td>{{serviceConfig.key}}</td>
                <td>{{serviceConfig.value}}</td>
                <td>{{serviceConfig.createTime | date:'medium'}}</td>
                <td>{{serviceConfig.updateTime | date:'medium'}}</td>
                <td>{{serviceConfig.deleteTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../service-config-lbs', serviceConfig.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-config-lbs/'+ serviceConfig.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service-config-lbs/'+ serviceConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="serviceConfigs && serviceConfigs.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
