
<div *ngIf="locationUpdate">
    <h2><span jhiTranslate="lbStestApp.locationUpdate.detail.title">Location Update</span> {{locationUpdate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lbStestApp.locationUpdate.longitude">Longitude</span></dt>
        <dd>
            <span>{{locationUpdate.longitude}}</span>
        </dd>
        <dt><span jhiTranslate="lbStestApp.locationUpdate.latitude">Latitude</span></dt>
        <dd>
            <span>{{locationUpdate.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="lbStestApp.locationUpdate.altitude">Altitude</span></dt>
        <dd>
            <span>{{locationUpdate.altitude}}</span>
        </dd>
        <dt><span jhiTranslate="lbStestApp.locationUpdate.bearing">Bearing</span></dt>
        <dd>
            <span>{{locationUpdate.bearing}}</span>
        </dd>
        <dt><span jhiTranslate="lbStestApp.locationUpdate.speed">Speed</span></dt>
        <dd>
            <span>{{locationUpdate.speed}}</span>
        </dd>
        <dt><span jhiTranslate="lbStestApp.locationUpdate.layerId">Layer Id</span></dt>
        <dd>
            <span>{{locationUpdate.layerId}}</span>
        </dd>
        <dt><span jhiTranslate="lbStestApp.locationUpdate.time">Time</span></dt>
        <dd>
            <span>{{locationUpdate.time | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location-update-lbs/'+ locationUpdate.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
