<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBindingPOILabel" jhiTranslate="lbStestApp.bindingPOI.home.createOrEditLabel">Create or edit a Binding POI</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bindingPOI.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bindingPOI.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.bindingPOI.bindingType" for="field_bindingType">Binding Type</label>
            <input type="text" class="form-control" name="bindingType" id="field_bindingType"
                [(ngModel)]="bindingPOI.bindingType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.bindingPOI.bindingKey" for="field_bindingKey">Binding Key</label>
            <input type="text" class="form-control" name="bindingKey" id="field_bindingKey"
                [(ngModel)]="bindingPOI.bindingKey"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.bindingPOI.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="bindingPOI.createTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.bindingPOI.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="bindingPOI.updateTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.bindingPOI.deleteTime" for="field_deleteTime">Delete Time</label>
            <div class="d-flex">
                <input id="field_deleteTime" type="datetime-local" class="form-control" name="deleteTime" [(ngModel)]="bindingPOI.deleteTime"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lbStestApp.bindingPOI.poi" for="field_poi">Poi</label>
            <select class="form-control" id="field_poi" name="poi" [(ngModel)]="bindingPOI.poiId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pOIOption.id" *ngFor="let pOIOption of pois; trackBy: trackPOIById">{{pOIOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
